[submodule "@Videndum/smartcloud"]
	path = Node Development/Videndum/smartcloud
	url = https://github.com/Videndum/Smartcloud.git
[submodule "@TGTGamer/tgtgamer"]
	path = Node Development/tgtgamer/tgtgamer
	url = https://github.com/TGTGamer/tgtgamer.git