[submodule "@Videndum/github-secrets"]
	path = videndum/manage-github-secrets
	url = https://github.com/Videndum/manage-github-secrets.git
[submodule "@Videndum/github-actions"]
	path = videndum/Universal-GitAction-Workflows
	url = https://github.com/Videndum/Universal-GitAction-Workflows.git
[submodule "@Videndum/smartcloud"]
	path = videndum/smartcloud
	url = https://github.com/Videndum/smartcloud.git
[submodule "@dnb/virtualfashion"]
	path = dandelionburdock/virtualfashion
	url = https://github.com/dandelion-burdock/virtualfashion.git
[submodule "@previz-app/livestream"]
	path = dandelionburdock/livestream
	url = https://github.com/Previz-app/livestream.git
[submodule "@tgtgamer/website"]
	path = tgtgamer/website
	url = https://github.com/TGTGamer/website.git