[submodule "@Videndum/github-secrets"]
	path = videndum/manage-github-secrets
	url = https://github.com/Videndum/manage-github-secrets.git
[submodule "@Videndum/github-actions"]
	path = videndum/Universal-GitAction-Workflows
	url = https://github.com/Videndum/Universal-GitAction-Workflows.git
[submodule "@Videndum/smartcloud"]
	path = videndum/smartcloud
	url = https://github.com/Videndum/smartcloud.git
[submodule "@tgtgamer/tgtgamer"]
	path = tgtgamer/tgtgamer
	url = https://github.com/TGTGamer/tgtgamer.git
[submodule "@tgtgamer/website"]
	path = tgtgamer/website
	url = https://github.com/TGTGamer/website.git